@charset "UTF-8";
body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* hiden mark; reset ul */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* reset (h, p) */
.reset {
  margin-top: 0;
}

/* temporary hide */
.invisible {
  display: none;
}

/* main-div */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin-bottom: 60px;
  outline: 2px solid tomato;
}

@media screen and (min-width: 1200px) {
  .section {
    margin-bottom: 94px;
  }
}

/* main - section */
/* h2 */
.section-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .activity-title {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity-title {
    margin-bottom: 50px;
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

/* h3  */
.title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}

/* logo */
.logo {
  display: inline-block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.20;
  text-decoration: none;
}

.logo-design {
  color: #2196F3;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 8px;
}

.nav-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav-flex {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

.button-mobile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.button-mobile .icon-menu {
  display: none;
}

.button-mobile.is-open .icon-menu {
  display: block;
}

.button-mobile.is-open .icon-cross {
  display: none;
}

/* hover,focus на кнопку */
.icon-menu {
  fill: #212121;
}

.button-mobile:hover,
.button-mobile:focus .icon-menu {
  --color3: #2196F3;
}

.icon-cross {
  fill: #212121;
}

.button-mobile:hover,
.button-mobile:focus .icon-cross {
  --color3: #2196F3;
}

.container-menu {
  background-color: #ffffff;
}

.container-menu.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .container-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin-bottom: 60px;
}

.menu-nav .item {
  position: relative;
}

.menu-nav .link-nav {
  display: block;
  padding-top: 40px;
  padding-bottom: 8px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-nav .link-nav:hover, .menu-nav .link-nav:focus {
  color: #2196F3;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-left: 75px;
  }
  .menu-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .menu-nav .link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.underline-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.underline-link:hover::after,
.underline-link:focus::after,
.underline-link:active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

/* contact */
.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.contact-nav .link-contact {
  display: block;
  padding-bottom: 15px;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-nav .link-contact:hover, .contact-nav .link-contact:focus {
  color: #2196F3;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 75px;
    margin-bottom: 0px;
  }
  .contact-nav .link-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 310px;
  }
  .contact-nav .item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-nav .link-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* icon-contact */
.link-contact .icon-contact-mail {
  fill: #757575;
}

.icon-contact-mail {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.link-contact:hover,
.link-contact:focus .icon-contact-mail {
  --color3: #2196F3;
  outline: transparent;
}

.link-contact .icon-contact-phon {
  fill: #757575;
}

.icon-contact-phon {
  height: 15px;
  width: 10px;
  margin-right: 10px;
}

.link-contact:hover,
.link-contact:focus .icon-contact-phon {
  --color3: #2196F3;
  outline: transparent;
}

footer {
  background-color: #2F303A;
}

/* footer container */
/* address container */
.address {
  padding-top: 45px;
  text-align: center;
}

.address-text {
  margin-bottom: 9px;
  min-width: 220px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .address {
    margin-top: 45px;
  }
  .address-text {
    margin-bottom: 9px;
    min-width: 220px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-top: 45px;
  }
  .address .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address-text {
    margin-bottom: 9px;
    min-width: 220px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.mail-footer {
  display: inline-block;
  margin-bottom: 9px;
}

.phon-footer {
  display: inline-block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .phon-footer {
    margin-bottom: 28px;
  }
}

.contact-footer .link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* social container */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
}

.social-contact {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .social {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 57px;
    margin-left: 68px;
  }
  .social-contact {
    display: inline-block;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.icon-footer:not(:first-child) {
  margin-left: 10px;
}

.icon-social {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
}

.social-link-second {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-second:hover, .social-link-second:focus {
  background-color: #2196F3;
  outline: transparent;
}

.social-link-second:hover,
.social-link-second:focus .icon-social {
  --color3: #ffffff;
  outline: transparent;
}

/* subscriber container */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.subscribe-contact {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
    margin-left: 90px;
  }
  .subscribe-contact {
    display: inline-block;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.footer-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form-input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  background: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-form-input {
    width: 355px;
  }
}

.icon-send {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-footer {
  height: 50px;
  width: 220px;
  margin-left: 115px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196F3;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
}

@media screen and (min-width: 768px) {
  .button-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    height: 50px;
    width: 220px;
    margin-left: 12px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
}

/* copy container */
.cont-flex {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cont-flex-copy {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section - service order */
.hero {
  margin-bottom: 60px;
}

.hero-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/mobile@1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/mobile@1x.jpg");
  background-color: #757575;
}

.hero-title {
  text-align: center;
  padding-top: 100px;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #2196F3;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/mobile@2x.jpg");
    background-color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .hero-background {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/tablet@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/tablet@1x.jpg");
    background-color: #757575;
  }
  .hero-title {
    padding-top: 150px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-background {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/tablet@2x.jpg");
    background-color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 94px;
  }
  .hero-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 600px;
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/desktop@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/desktop@1x.jpg");
    background-color: #757575;
  }
  .hero-title {
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/desktop@2x.jpg");
    background-color: #757575;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 530px;
  min-height: 580px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-title {
  margin: 0;
  padding: 40px 40px 30px 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-icon {
  fill: #212121;
}

.modal-close:hover > .modal-close-icon {
  --color3: #2196F3;
}

.modal-form {
  position: relative;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-right: 0;
  width: 450px;
  height: 40px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  fill: #212121;
}

.modal-fild {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-fild:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-fild:focus ~ .modal-icon {
  --color3: #2196F3;
}

.modal-fild:focus + .modal-label,
.modal-fild:not(:placeholder-shown) + .modal-label {
  -webkit-transform: translate(-25px, -40px);
          transform: translate(-25px, -40px);
  color: #2196F3;
}

textarea {
  resize: none;
}

.form-textarea {
  position: relative;
  width: 450px;
  height: 120px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.textarea-label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(15%, 70%);
          transform: translate(15%, 70%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-textarea:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-textarea:focus + .textarea-label,
.modal-textarea:not(:placeholder-shown) + .textarea-label {
  -webkit-transform: translate(15px, -20px);
          transform: translate(15px, -20px);
  color: #2196F3;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 1px;
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.checkbox-accept {
  margin-left: 4px;
  color: #2196F3;
}

.button-close {
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section - company features */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .item {
  width: 100%;
}

.features-text {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features .item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features .item:not(:first-child) {
    margin-left: 30px;
  }
  .features .item {
    width: 270px;
  }
  .features-text {
    margin-bottom: 0px;
  }
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  max-width: 480px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.icon-features {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 1200px) {
  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* section - activity of the company */
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .activity .item:not(:first-child) {
    margin-left: 30px;
  }
  .activity-product {
    position: relative;
  }
  .activity-text {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 370px;
    height: 70px;
    margin-bottom: 0;
    padding-top: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}

/* section - command structure */
.section-command {
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .section-command {
    margin-bottom: 94px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.command-shadow {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.command .item {
  margin-top: 30px;
  max-height: 482px;
}

.command-foto {
  max-height: 320px;
  width: 100%;
  margin-bottom: 30px;
}

.command-name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.command-text {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .command {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .command .item {
    margin-top: 0px;
    max-height: 422px;
  }
  .command-foto {
    max-height: 260px;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .command-shadow {
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
  }
  .command .item {
    margin-bottom: 0px;
  }
  .command .item:not(:first-child) {
    margin-left: 30px;
  }
  .command-foto {
    margin-bottom: 30px;
  }
  .command-name {
    margin-bottom: 10px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .command-text {
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.social-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 122px;
  padding-bottom: 15px;
  margin-right: 122px;
}

@media screen and (min-width: 768px) {
  .social-first {
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 24px;
    margin-right: 32px;
    padding-bottom: 0px;
  }
}

.icon-item:not(:first-child) {
  margin-left: 10px;
}

.icon-social {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: transparent;
}

.social-link .icon-social {
  fill: #AFB1B8;
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
  outline: transparent;
}

.social-link:hover,
.social-link:focus .icon-social {
  --color3: #FFFFFF;
  outline: transparent;
}

/* section - company partners */
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.company-link .icon-company {
  fill: #AFB1B8;
}

.company-link:hover, .company-link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: transparent;
}

.company-link:hover,
.company-link:focus .icon-company {
  --color3: #2196F3;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .company-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  .company-link .icon-company {
    fill: #AFB1B8;
  }
  .company-link:hover, .company-link:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
    outline: transparent;
  }
  .company-link:hover,
  .company-link:focus .icon-company {
    --color3: #2196F3;
    outline: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .company .item:not(:first-child) {
    margin-left: 30px;
  }
  .company-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  .company-link .icon-company {
    fill: #AFB1B8;
  }
  .company-link:hover, .company-link:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
    outline: transparent;
  }
  .company-link:hover,
  .company-link:focus .icon-company {
    --color3: #2196F3;
    outline: transparent;
  }
}

/* filter button */
button {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
}

.button-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.button-filter .item:not(:first-child) {
  margin-left: 8px;
}

.button-first {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-second:hover,
.button-second:focus {
  background-color: #2196F3;
  color: #ffffff;
  outline: transparent;
}

.section-gallery {
  margin-top: 94px;
  margin-bottom: 94px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0;
  margin-bottom: 0;
}

.gallery-shadow {
  background: #ffffff;
  border: 1px solid #EEEEEE;
}

.gallery-shadow:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.gallery .item {
  width: 370px;
}

.gallery .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery .item.item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.gallery-title {
  margin-left: 24px;
  margin-bottom: 4px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  margin-left: 24px;
  margin-bottom: 20px;
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.product {
  text-decoration: none;
}

.product:focus {
  outline: transparent;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb::before {
  content: '';
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 149, 243, 0.9);
}

.product:hover .product-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product:hover .hover-message {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hover-message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */