     
     /* section - company features */

.features {
    display: flex;

    .item:not(:first-child) {
     margin-left: 30px;
    }
    .item {
    width: 270px;
    }
    &-text {
    margin-bottom: 0;
    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
} }
    
.icon {
    display: flex;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    
    background: #F5F4FA;
    border-radius: 4px;
        
    justify-content: center;

    &-features {
    width: 70px;
    height: 70px;
    margin-top: 25px;
} }
    

    
