/* logo */
.logo {
    color: #000000;
    font-family: $font-logo;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;
    text-decoration: none;
}
                                                            
.logo-design {
    color: $accent-color;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 8px;
}