/* section - activity of the company */

.activity {
     display: flex;
    
     .item:not(:first-child) {
    margin-left: 30px;
    }
    &-product {
    position: relative;
    }
    &-text {
    position: absolute;
    bottom: 0%;
    left: 0%;
    
    width: 370px;
    height: 70px;
        
    margin-bottom: 0;
    padding-top: 27px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    background: rgba(47, 48, 58, 0.8);
    color: $primary-white-color;
} }
    

    

    
