    $primary-white-color: #ffffff;
    $secondary-color: #757575;
    $accent-color: #2196F3;
    $title-color: #212121;
    $font-logo: 'Raleway', sans-serif;
    $font-text: 'Roboto', sans;
    
                                
    